<div id="<%= @name %>" class="modal-window">
  <div class="modal-content">
    <div class="wrap">
      <div class="content-modal documentation">
        <div class="inner-box">
          <a href="#!" title="Close" class="modal-close">Close</a>
          <div class="modal-inner">
            <%= modalDetailsContent %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
